<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;">
		<div class="events">
			<div style="float:left;">
				<div><b style="font-size:22px;">We have propositions for everybody!</b></div>
				<div style="color:#999;font-weight:normal;margin-top:.3em;">Не упусти свой шанс присоединится к лучшей команде...</div>
			</div>
			<div style="float:right;padding:.5em;">
				<a href="#" id="submit">+1</a>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-bottom:1em;"><img src="/assets/world.png" width="600px;"></div>
		<div style="width:300px;float:left;margin-right:1.5em;">
			<div style="float:left;padding-right:.5em;"><img src="/assets/icon2.png" alt="" /></div>
			<div style="padding-top:.3em;"><h5>Our idea</h5></div>
			<div class="hr_x"></div>
			<p style="text-align:justify;margin-bottom:2em;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
			<a href="#" class="link">Read more</a>
		</div>
		<div style="width:300px;float:left;margin-right:1.5em;">
			<div style="float:left;padding-right:.5em;"><img src="/assets/icon1.png" alt="" /></div>
			<div style="padding-top:.3em;"><h5>Planning</h5></div>
			<div class="hr_x"></div>
			<p style="text-align:justify;margin-bottom:2em;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
			<a href="#" class="link">Read more</a>
		</div>
	</div>
	<div style="width:300px;float:right;margin-top:2em;">
		<h4>Latest News</h4>
		<div class="hr_x"></div>
		<ul class="news">
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
		</ul>
		<div style="padding-top:.3em;padding-bottom:1em;">
			<a href="#" class="link">View all news</a>
		</div>
	</div>
</div>
<div class="clear"></div>