<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;">
		<div class="events">
			<div style="float:left;">
				<div><b style="font-size:20;">We have propositions for everybody!</b></div>
				<div style="color:#999;font-weight:normal;">Не упусти свой шанс присоединится к лучшей команде...</div>
			</div>
			<div style="float:right">
				<a href="register_new.html" style="text-decoration:none;"><button class="button large blue" style="margin-right:1em;padding-left:1em;padding-right:1em;">+1</button></a>
			</div>
			<div style="clear:both;"></div>
		</div>				
		<div style="margin-bottom:1em;"><img src="img/OEM_WorldContacts3.png" width="600px;"></div>
		<div style="width:300px;float:left;margin-right:1.5em;">
			<div style="float:left;padding-right:.5em;"><img src="img/type-list.png" alt="" /></div>
			<div style="padding-top:.3em;font-weight:bold;">
				<h6 style="font-weight:bold;color:black;">Our idea</h6>
			</div>
			<div class="hr_x"></div>
			<p style="text-align:justify;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
			<br/>
			<a href="#" class="link" style="margin-top:2em;">Read more</a>
		</div>
		<div style="width:300px;float:left;">
			<div style="float:left;padding-right:.5em;"><img src="img/application-x-chm.png" alt="" /></div>
			<div style="padding-top:.3em;font-weight:bold;">
				<h6 style="color:black;">Planning</h6>
			</div>
			<div class="hr_x"></div>
			<p style="text-align:justify;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
			<br/>
			<a href="#" class="link" style="margin-top:2em;">Read more</a>
		</div>
	</div>			
	<div style="width:300;float:right;">
		<h4>Latest News</h4>
		<div class="hr_x"></div>
		<ul class="news">
			<li>
				<div class="date" style="float:left;display:block;width:63px;height:63px;">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5 style="font-weight:bold;padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date" style="float:left;display:block;width:63px;height:63px;">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5 style="font-weight:bold;padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date" style="float:left;display:block;width:63px;height:63px;">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5 style="font-weight:bold;padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date" style="float:left;display:block;width:63px;height:63px;">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5 style="font-weight:bold;padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
		</ul>
		<div style="padding-top:.3em;padding-bottom:1em;">
			<a href="#" class="link">View all news</a>
		</div>
	</div>
</div>