<div class="center">
	<div style="float:left;width:750px;margin-bottom:1em;">
		<div style="width:700px;margin-top:2.5em;">
			<div class="blog_title" style="padding-bottom:.3em;padding-top:.5em;"><%= link_to "Which one first: Python or Django?", {:controller => "blogs", :action => "show"} -%></div>
			<div style="border-bottom:1px dotted gray;"></div>
			<div style="font-size:.9em;color:gray;padding-top:.3em;padding-bottom:.3em;padding-left:.5em;">Опубликовал <a href="ddd" style="color:black;">admin</a> 11-04-2011 в 18:48</div>
			<p style="text-align:justify;margin-top:1.5em;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.
				Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды. <a href="#" style="margin-top:2em;color:gray;">Read more -></a></p>
			<div style="margin-top:2em;"></div>
			<div><a href="#" class="tags">projects</a><a href="#" class="tags">пароли</a><a href="#" class="tags">генератор паролей</a><a href="#" class="tags">хеш-функция</a><a href="#" class="tags">projects</a><a href="#" class="tags" style="margin-left:.5em;">projects</a><a href="#" class="tags">projects</a></div>
			<div class="blog_entry_info">
				<div class="fleft"><a href="#" class="link">12 Comments</a></div>
				<div class="fright"><img src="/assets/twitter_mini.png" height="24" width="24"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div style="width:700px;margin-top:2.5em;">
			<div class="blog_title" style="padding-bottom:.3em;padding-top:.5em;"><%= link_to "Which one first: Python or Django?", {:controller => "blogs", :action => "show"} -%></div>
			<div style="border-bottom:1px dotted gray;"></div>
			<div style="font-size:.9em;color:gray;padding-top:.3em;padding-bottom:.3em;padding-left:.5em;">Опубликовал <a href="ddd" style="color:black;">admin</a> 11-04-2011 в 18:48</div>
			<p style="text-align:justify;margin-top:1.5em;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.
				Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды. <a href="#" style="margin-top:2em;color:gray;">Read more -></a></p>
			<div style="margin-top:2em;"></div>
			<div><a href="#" class="tags">projects</a><a href="#" class="tags">пароли</a><a href="#" class="tags">генератор паролей</a><a href="#" class="tags">хеш-функция</a><a href="#" class="tags">projects</a><a href="#" class="tags" style="margin-left:.5em;">projects</a><a href="#" class="tags">projects</a></div>
			<div class="blog_entry_info">
				<div class="fleft"><a href="#" class="link">12 Comments</a></div>
				<div class="fright"><img src="/assets/twitter_mini.png" height="24" width="24"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div style="width:250px;float:right;margin-top:2em;">
		<h4>Archive</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#" class="link1" style="valign:middle;">Январь</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#" class="link1">Февраль</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#" class="link1">Март</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#" class="link1">Апрель</a></h5>
			</li>
		</ul>
		<div style="padding-top:.3em;padding-bottom:2em;"></div>
		
		<h4>Categories</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#" style="valign:middle;">Computers.</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Web 2.0</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
			</li>
		</ul>
	</div>
</div>

<div class="clear"></div>