<div class="center">
  <div style="float:left;width:1000px;margin-bottom:1em;margin-top:2.5em;">
    <h1>Registrations#create</h1>
    <p>Find me in app/views/registrations/create.html.erb</p>
  </div>
</div>
<div class="clear"></div>