<div class="center">
	<div style="float:left;width:750px;margin-bottom:1em;margin-top:1em;">
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">Rob Malda</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">John Von Neumann</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">Linus Torvalds</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">Heath Robinson</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">Diogenes</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">project1</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd" style="margin-top:1em;margin-right:2em;">
			<div class="fleft" style="border: 2px solid silver;">
				<img src="/assets/avatar.jpeg" height="80" width="80">
			</div>
			<div class="fright">
				<div style="text-align:right;">
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div style="margin-bottom:.4em;margin-left:6em;width:65%;border-bottom:.12em dashed silver;">
				<a href="#" style="font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.2em;text-shadow: 0px 1px 0px #e5e5ee;">Charles Babbage</a>
			</div>
			<div style="margin-left: 6em;color:#696969;font-weight:normal;">
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Статус:</div>
				<div style="font-size: .8em;color:#808080;">новичек</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Специализация:</div>
				<div style="font-size: .8em;color:#808080;">web-design</div>
				<div style="float:left;font-size: .8em;font-weight:bold;margin-right:.5em;">Участвует в проектах:</div>
				<div style="font-size: .8em;color:#808080;"><a href="#" class="link">#project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="width:250px;float:right;margin-top:2em;">
		<h4>Top 10 nerds</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#">Rob Malda</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">John Von Neumann</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Linus Torvalds</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Heath Robinson</a></h5>
			</li>
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#">Diogenes</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Charles Babbage</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Bill Gates</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Alan Turing</a></h5>
			</li>
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#" class="link1">Steve Wozniak</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Nikola Tesla</a></h5>
			</li>
		</ul>
		<div style="padding-top:.3em;padding-bottom:2em;"></div>
		
		<h4>Latest 10 nerds</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#" style="valign:middle;">Computers.</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Web 2.0</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
			</li>
		</ul>
	</div>
</div>

<div class="clear"></div>