<div class="center">
	<div style="float:left;width:600px;margin-bottom:1em;margin-top:1em;">
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">Rob Malda</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">John Von Neumann</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">Linus Torvalds</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">Heath Robinson</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">Diogenes</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a><b style="margin-right:.3em;">,</b><a href="#" class="link">project2</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nerd">
			<div class="fleft avatar">
				<img src="/assets/avatar.jpeg">
			</div>
			<div class="fright">
				<div>
					<img src="/assets/facebook_mini.png" height="20" width="20">
					<img src="/assets/twitter_mini.png" height="20" width="20">
				</div>
			</div>
			<div class="user_name_div">
				<a href="/nerds/1" class="user_name">Charles Babbage</a>
			</div>
			<div class="user_details">
				<div class="user_details_links">Статус:</div>
				<div class="user_details_val">новичек</div>
				<div class="user_details_links">Специализация:</div>
				<div class="user_details_val">web-design</div>
				<div class="user_details_links">Участвует в проектах:</div>
				<div class="user_details_val"><a href="#" class="link">project1</a></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="width:250px;float:right;margin-top:2em;">
		<h4>Top 10 nerds</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#">Rob Malda</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">John Von Neumann</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Linus Torvalds</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Heath Robinson</a></h5>
			</li>
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#">Diogenes</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Charles Babbage</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Bill Gates</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Alan Turing</a></h5>
			</li>
			<li class="pdf">
				<h5 style="padding-bottom:.3em;"><a href="#" class="link1">Steve Wozniak</a></h5>
			</li>
			<li class="pdf">
					<h5 style="padding-bottom:.3em;"><a href="#">Nikola Tesla</a></h5>
			</li>
		</ul>
		<div style="padding-top:.3em;padding-bottom:2em;"></div>
		
		<h4>Latest 10 nerds</h4>
		<div class="hr_x"></div>
		<ul class="iconlist">
			<li>
				<h5 style="padding-bottom:.3em;"><a href="#">Computers.</a></h5>
			</li>
			<li>
				<h5 style="padding-bottom:.3em;"><a href="#">Web 2.0</a></h5>
			</li>
			<li>
				<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque</a></h5>
			</li>
			<li>
				<h5 style="padding-bottom:.3em;"><a href="#">Pellentesque sed dolor.</a></h5>
			</li>
		</ul>
	</div>
</div>

<div class="clear"></div>