<div class="center">
	<div style="float:left;width:750px;margin-bottom:1em;margin-top:2em;">
		<h1>New news</h1>
		
		<br/>

		<%= render 'form' %>

		<%= link_to 'Back', news_index_path %>
	</div>
</div>
<div class="clear"></div>
