<ol>
  <li><a href="#" class="folder">Rounded Corners</a></li>
  <li><a href="#" class="folder">Box Shadow</a></li>
  <li><a href="#" class="folder">Text Shadow</a></li>
  <li><a href="#" class="folder">Rounded Corners</a></li>
  <li><a href="#">Box Shadow</a></li>
  <li><a href="#">Text Shadow</a></li>
  <li><a href="#">Rounded Corners</a></li>
  <li><a href="#">Box Shadow</a></li>
  <li><a href="#">Text Shadow</a></li>
  <li><a href="#">Rounded Corners</a></li>
  <li><a href="#">Box Shadow</a></li>
</ol>