<ul class="manager">
  <li><a href="download.php?file=Archive.zip">Archive.zip <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=Document.doc">Document.doc <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=Rich+Text+Document.rtf">Rich Text Document.rtf <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=Song.mp3">Song.mp3 <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=Spreadsheet.xls">Spreadsheet.xls <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=Text.txt">Text.txt <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=ajax_load.gif">ajax_load.gif <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=button_green.png">button_green.png <span class="download-label">download</span></a></li>
  <li><a href="download.php?file=photoShoot-1.0.zip">photoShoot-1.0.zip <span class="download-label">download</span></a></li>
</ul>