<ul class="manager">
  <li><a href="#">Readme</a></li>
  <li><a href="#">Document.doc</a></li>
  <li><a href="#">Rich Text Document.rtf</a></li>
  <li><a href="#">Song.mp3</a></li>
  <li><a href="#">Spreadsheet.xls</a></li>
  <li><a href="#">Text.txt</a></li>
  <li><a href="#">ajax_load.gif</a></li>
  <li><a href="#">button_green.png</a></li>
  <li><a href="#">photoShoot-1.0.zip</a></li>
</ul>