<div class="center">
	<div style="float:left;width:1000px;margin-bottom:1em;margin-top:2em;">
		<div style="text-align:right;padding-right:1em;"><a href="#" class="link">today</a><b style="padding-left:1em;padding-right:1em;">|</b><a href="#" class="link">top 10</a></div>
		<div style="background:#DCDCDC;height:5px;width:100%;margin-top:.5em;"></div>
		<div style="padding-top:.5em;">
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Rating</a></span>
					<span class="number">3</span>
				</div>
			</div>
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Watch</a></span>
					<span class="number">3</span>
				</div>
			</div>
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Nerds</a></span>
					<span class="number">30</span>
				</div>
			</div>
			<div style="float:left;">
				<div style="padding-bottom:.3em;padding-top:.5em;font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.4em;text-shadow: 0px 1px 0px #e5e5ee;">Which one first: Python or Django?</div>
				<div class="tags" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;margin-top:.8em;float:left;">testing</div>
				<div class="tags" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;margin-top:.8em;float:left;">mathematical</div>
			</div>
			<div class="clear"></div>
			<div style="margin-bottom:1em;">Some text about this project you can see here</div>
			
			<div id="wrapper">
				<div id="project_tabs" class="breadCrumb1" style="height:33px;">
					<div id="tabs" class="button-group" style="font-size:.8em;">
						<ul class="m">
							<li><%= link_to content_tag(:span, "General"), {:action => "general"}, {:title => "main_content", :class => "but blue icon alarm", :id => "mybutton"} -%></li>
							<li><%= link_to content_tag(:span, "Browse"), {:action => "browse"}, {:title => "main_content", :class => "but blue icon trend", :id => "mybutton1"} -%></li>
							<li><%= link_to content_tag(:span, "Commits"), {:action => "tab2"}, {:title => "main_content", :class => "but blue icon preferences", :id => "mybutton2"} -%></li>
							<li><%= link_to content_tag(:span, "Commits"), {:action => "tab1"}, {:title => "main_content", :class => "but blue icon shoppingcart", :id => "mybutton3"} -%></li>
							<li><a href="#trend" class="but blue icon trend">Statistics</a></li>
							<li><a href="#bank" class="but blue icon bank">bank</a></li>
							<li><a href="#briefcase" class="but blue icon briefcase">briefcase</a></li>
							<li><a href="#calculator" class="but blue icon calculator">calculator</a></li>
						</ul>
					</div>
				</div>
				<div style="padding:.5em;height:27px;">
					<div style="float:left;line-height: 1.5em;height: 1.5em;margin-top:.3em;">Code colaborators:</div>
					<div class="tags_black" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;float:left;margin-left:5px;margin-right:5px;margin-top:.3em;">12</div>
					<div style="float:left;margin-left:0em;margin-right:.5em;margin-top:.3em;">|</div>
					<div style="float:left;line-height: 1.5em;height: 1.5em;margin-top:.3em;">You have </div>
					<div class="tags_black" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;float:left;margin-left:5px;margin-right:5px;margin-top:.3em;">12</div>
					<div style="float:left;line-height: 1.5em;height: 1.5em;margin-top:.3em;">forks</div>
					<div id="feedWidget">
						<div id="activeTab">
					    	<!-- The name of the current tab is inserted here -->
					    </div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="breadCrumb" style="height:22px;">
					<ul>
						<li class="first"><a href="/projects/tab1">Home</a></li>
						<li><a href="#" class="link">Biocompare Home</a></li>
						<li class="last">Mutation Generation</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div id="main_content"></div>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>