<div class="center">
	<div style="float:left;width:1000px;margin-bottom:1em;margin-top:2em;">
		<div style="text-align:right;padding-right:1em;"><a href="#" class="link">today</a><b style="padding-left:1em;padding-right:1em;">|</b><a href="#" class="link">top 10</a></div>
		<div style="background:#DCDCDC;height:5px;width:100%;margin-top:.5em;"></div>
		<div style="padding-top:.5em;">
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Rating</a></span>
					<span class="number">3</span>
				</div>
			</div>
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Watch</a></span>
					<span class="number">3</span>
				</div>
			</div>
			<div style="float:left">
				<div class="project_stats" style="float:left;display:block;width:63px;height:63px;">
					<span class="name"><a href="#" class="link">Nerds</a></span>
					<span class="number">30</span>
				</div>
			</div>
			<div style="float:left;">
				<div style="padding-bottom:.3em;padding-top:.5em;font-weight:bold;color:#4682B4;text-decoration:none;font-size:1.4em;text-shadow: 0px 1px 0px #e5e5ee;">Which one first: Python or Django?</div>
				<div class="tags" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;margin-top:.8em;float:left;">testing</div>
				<div class="tags" style="padding:0;padding-left:5px;padding-right:5px;text-align:center;margin-top:.8em;float:left;">mathematical</div>
			</div>
			<div class="clear"></div>
			
			<div id="wrapper">
				<div id="project_tabs" class="breadCrumb module">
		          <ul>
                    <li class="first">
                        <a href="/projects/tab1">Home</a>
                    </li>
                    <li>
                        <a href="#" class="link">Biocompare Home</a>
                    </li>
                    <li>
                        <a href="#" class="link">Product Discovery</a>
                    </li>
                    <li>
                        <a href="#" class="link">Life Science Products</a>
                    </li>
                    <li>
                        <a href="#" class="link">Kits and Assays</a>
                    </li>
                    <li>
                        <a href="#" class="link">Mutagenesis Kits</a>
                    </li>
                    <li class="last">
                        Mutation Generation
                    </li>
                  </ul>
				</div>
				<div class="clear"></div>
				<div id="navigation123">
				     <ul class="menuUL">
						 <li><%= link_to content_tag(:span, "General"), {:action => "general"}, {:title => "main_content"} -%></li>
						 <li><%= link_to content_tag(:span, "Browse"), {:action => "browse"}, {:title => "main_content"} -%></li>
						 <li><%= link_to content_tag(:span, "Repositories"), {:action => "tab1"}, {:title => "main_content"} -%></li>
						 <li><%= link_to content_tag(:span, "Issues"), {:action => "tab2"}, {:title => "main_content"} -%></li>
				     </ul>
					 <div id="main_content"></div>
				 </div>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>