<div style="float:left;width:200px;">
  <ul class="vertical-list">
    <li><a href='#' class='button'>Bug issues</a></li>
    <li><a href='#' class='button'>Feature request</a></li>
    <li><a href='#' class='button'>Feature request</a></li>
    <li><a href='#' class='button'>Bug issues</a></li>
    <li><a href='#' class='button'>Feature request</a></li>
  </ul>
</div>
<div style="float:right;width:760px;">
<table id="mytable">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="2"></th>
    </tr>
  </tfoot>
  <tbody>
    <div id="ts_tabmenu">
      <ul>
        <li id="li_tsmenu1"><a href="#"><strong>Open</strong></a></li>
        <li id="li_tsmenu2"><a href="#"><strong>Closed</strong></a></li>
        <li id="li_tsmenu3"><a href="#"><strong>Declined</strong></a></li>
      </ul>
    </div>

    <tr>
      <td class="check"><input id="check_1" name="check_1" type="checkbox" value="1"/></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_2" name="check_2" type="checkbox" value="2"/></td>
      <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_3" name="check_3" type="checkbox" value="3"/></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_4" name="check_4" type="checkbox" value="4"/></td>
      <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</span> 
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_3" name="check_3" type="checkbox" value="3"/></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_4" name="check_4" type="checkbox" value="4"/></td>
      <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_3" name="check_3" type="checkbox" value="3"/></td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</span>
      </td>
    </tr>
    <tr>
      <td class="check"><input id="check_4" name="check_4" type="checkbox" value="4"/></td>
      <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</span>
      </td>
    </tr>
  </tbody>
</table>
</div>