<ul class="news" style="padding:2em;">
	<li>
		<div class="date">
			<span class="day">22</span>
			<span class="month">Aug</span>
			<span class="year">2001</span>
		</div>
		<div class="extra-wrap">
			<ul class="eventList">
				<li class="news">commits number one</li>
				<li class="news">test</li>
				<li class="news">test</li>
				<li class="news">test</li>
				<li class="news">test</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="date">
			<span class="day">22</span>
			<span class="month">Aug</span>
			<span class="year">2001</span>
		</div>
		<div class="extra-wrap">
			<ul class="eventList">
				<li class="news">test</li>
				<li class="news">test</li>
				<li class="news">test</li>
				<li class="news">test</li>
				<li class="news">test</li>
			</ul>
		</div>
	</li>
</ul>