<div class="center">
	<div style="float:left;width:750px;margin-bottom:1em;margin-top:2em;">
		<div style="text-align:right;padding-right:1em;"><a href="#" class="link">today</a><b style="padding-left:1em;padding-right:1em;">|</b><a href="#" class="link">top 10</a></div>
		<div style="background:#DCDCDC;height:5px;width:100%;margin-top:.5em;"></div>
		
		<ol>
			<% @roles.each do |role| %>
				<li><a href="#"><%= role.name -%></a></li>
			<% end %>
		</ol>
		
		<br/>
		
		<%= link_to 'New Role', {:controller => 'roles', :action => 'new'}, :class => "link" -%>
	</div>
</div>

<div class="clear"></div>
