<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;margin-top:2em;">
		<div class="b-img-radius" style="background: url(/assets/cat.jpg);margin-bottom:1em;margin-left:3em;"><img src="/assets/cat.jpg" width="560px"/></div>
		<div class="hr_x"></div>
		<div style="width:650px;margin-right:1.5em;padding-bottom:1em;" class="example-twitter">
			<p style="text-align:justify;">Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, 
				но мы рады вступлению в наши ряды.Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
		</div>
	</div>
	<div style="width:300px;float:right;margin-top:2em;">
		<h4>Contact</h4>
		<div class="hr_x"></div>
		<ul class="about_links">
			<li>
				<table cellspacing="0" style="padding-bottom:1em;padding-top:1em;">
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>Twitter:</b></td><td><em style="padding-left:1em;"><a href="#" style="color:#4682B4;">http://twitter.com/KyKyPy3</a></em></td></tr>
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>Facebook:</b></td><td><em style="padding-left:1em;"><a href="#" style="color:#4682B4;">http://facebook.com/nerdbase</a></em></td></tr>
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>E-Mail:</b></td><td><em style="padding-left:1em;"><a href="#" style="color:#4682B4;">team@nerdbase.net</a></em></td></tr>
				</table>
			</li>
		</ul>
		
	</div>
</div>
<div class="clear"></div>