<div class="center">
	<div class="leftcolumn">
		<div class="b-img-radius" id="about_img"><img src="/assets/cat.jpg" alt=""/></div>
		<div class="hr_x"></div>
		<div id="about_speech" class="example-twitter">
			<p>Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаnь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, 
			   но мы рады вступлению в наши ряды.Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
		</div>
	</div>
	<div class="right_column">
		<h4>Contact</h4>
		<ul class="about_links">
			<li>
				<table>
					<tr><td class="about_link_type"><b>Twitter:</b></td><td><em class="about_link_val"><a href="http://twitter.com/#!/KyKyPy3">KyKyPy3</a></em></td></tr>
					<tr><td class="about_link_type"><b>Facebook:</b></td><td><em class="about_link_val"><a href="#">http://facebook.com/nerdbase</a></em></td></tr>
					<tr><td class="about_link_type"><b>E-Mail:</b></td><td><em class="about_link_val"><a href="mailto://team@nerdbase.net">team@nerdbase.net</a></em></td></tr>
				</table>
			</li>
		</ul>
	</div>
</div>
<div class="clear"></div>