<div class="center">
	<div class="leftcolumn">
		<div class="b-img-radius" id="about_img"><img src="/assets/cat.jpg" alt=""/></div>
		<div class="hr_x"></div>
		<div id="about_speech" class="example-twitter">
			<p>Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, 
			   но мы рады вступлению в наши ряды.Основная задача этого проекта разработать онлайн систему позволяющую сообществу умных людей работаь над общими проекта. Эта система должна быть простой, легко доступной и самое главное бесплатной. Вся работа ведется пока небольшой группой людей, но мы рады вступлению в наши ряды.</p>
		</div>
	</div>
	<div class="right_column">
		<h4>Contact</h4>
		<ul class="about_links">
			<li>
				<table cellspacing="0" style="padding-bottom:1em;padding-top:1em;">
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>Twitter:</b></td><td><em style="padding-left:1em;"><a href="http://twitter.com/#!/KyKyPy3" style="color:#4682B4;">KyKyPy3</a></em></td></tr>
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>Facebook:</b></td><td><em style="padding-left:1em;"><a href="#" style="color:#4682B4;">http://facebook.com/nerdbase</a></em></td></tr>
					<tr><td width="75px;" height="35px" style="text-align:right;"><b>E-Mail:</b></td><td><em style="padding-left:1em;"><a href="mailto://team@nerdbase.net" style="color:#4682B4;">team@nerdbase.net</a></em></td></tr>
				</table>
			</li>
		</ul>
		
	</div>
</div>
<div class="clear"></div>