// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_link_type {
  text-align:right;
  height:30px;
}

.about_link_val {
  padding-left:1em;
  
  a {
    color:#4682B4;
    font-weight:bold;
  }
}