/*
	Faceboook, Twitter and mail links
*/
body {
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  color: #666;
  margin: 0;
}

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  padding-top:200px;
  top: 10px;
  right: 0px;
  list-style: none;
  z-index:9999;
}

ul#navigation li {
  width: 100px;
}

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;    
  background-color:#F5F5F5;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #ddd;
  -moz-border-radius: 11px 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-radius:10px
  behavior: url(/assets/PIE.htc);
}

ul#navigation .home a{
  background-image: url(/assets/facebook.png);
}

ul#navigation .about a{
  background-image: url(/assets/twitter.png);
}

ul#navigation .search a{
  background-image: url(/assets/mail.png);
}

#header {
  background:#959DA5;
  border-bottom:1px solid #333;
}

/*
	Main styles
*/
.center {
  margin: 0px auto;
  width: 1000px;
}

.clear {
  clear:both;
}

/*
	Main menu style
*/
#menu ul {
  height:30px;
  background:#959DA5;
  margin:0;
  padding:10px 16px 0;
  list-style:none;
}

#menu ul li {
  float:left;
  margin:0 20px 0 0;
  position:relative;
  padding:0;
}

#menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  padding:0 15px;
  line-height:29px;
  height:29px;
  font-weight:bold;
  background:#464646;
  border:1px solid #333;
  border-bottom:none;
  text-shadow:#000 0 -1px 0;
  position:relative;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing:antialiased;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius:8px 8px 0 0;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  behavior: url(/assets/PIE.htc);
}

#menu ul li:before, #menu ul li:after {
  content:'';
  width:9px;
  height:8px;
  position:absolute;
  z-index:2;
  bottom:0;
  background:#464646;
}

#menu ul li:before {
  left:-8px;
}

#menu ul li:after {
  right:-8px;
}

#menu ul a:before, #menu ul a:after {
  content:'';
  width:10px;
  height:8px;
  position:absolute;
  z-index:3;
  bottom:-1px;
  background:#959DA5;
  overflow:hidden;
  border-bottom:1px solid #333;
  -webkit-background-clip: padding-box;
}

#menu ul a:before {
  left:-11px;
  border-bottom-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-right:1px solid #222;
  behavior: url(/assets/PIE.htc);
}

#menu ul a:after {
  right:-11px;
  border-bottom-left-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-left:1px solid #222;
  behavior: url(/assets/PIE.htc);
}

#menu ul li.current a {
  background:#FFFFFF;
  color:#222;
  height:30px;
  text-shadow:#fff 0 1px 0;
  -webkit-background-clip: padding-box;
}

#menu ul li.current a:before, #menu ul li.current a:after {
  bottom:0;
}

#menu ul li.current:before, #menu ul li.current:after {
  background:#FFFFFF;
  bottom:0;
  -webkit-background-clip: padding-box;
}

#menu ul li a:hover {
  background:#FFFFFF;
  color:#222;
  height:30px;
  text-shadow:#fff 0 1px 0;
  -webkit-background-clip: padding-box;
}

#menu ul li a:hover:before, #menu ul li a:hover:after {
  bottom:0;
}

#menu ul li:hover:before, #menu ul li:hover:after {
  background:#FFFFFF;
  bottom:0;
  -webkit-background-clip: padding-box;
}

/*
  Search rom style
*/
#searchForm {
  background-color:#464646;
  padding:15px 15px 15px;
  margin:.5em 2em 0;
  position:relative;

  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  behavior: url(/assets/PIE.htc);
	
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

#searchForm fieldset {
  border:none;
}

#s {
  border:none;
  color:#888888;

  float:left;
  font-family:Arial,Helvetica,sans-serif;
  background: white url('/assets/search.png') no-repeat;
  background-position:.5em center;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  width:410px;

  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  behavior: url(/assets/PIE.htc);
}

#submitButton {
  float:left;
  width:83px;
  height:36px;
  cursor:pointer;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#F5F5F5;
  border:1px solid silver;
  text-shadow:0 -1px 0 #eee;
  color:#000;
  padding:4px 10px 5px;
  font-size:14px;
  margin:0 5px 0 0;
  font-weight:bold;
  behavior: url(/assets/PIE.htc);
}


/* 
  Login dialog
*/
#container {
  width:950px;
  margin:0 auto;
  position: relative;
}

#topnav {
  padding:10px 0px 12px;
  font-size:11px;
  line-height:23px;
  text-align:right;
}

#topnav a.signin {
  background:#4682B4;
  padding:4px 6px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  /* *background:transparent url("/assets/signin-nav-bg-ie.png") no-repeat 0 0; */
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}

#topnav a.register {
  background:#4682B4;
  padding:4px 6px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}

#topnav a.register:hover {
  background:#59B;
  *padding:4px 12px 6px;
}

#topnav a.signin:hover {
  background:#59B;
  /* *background:transparent url("img/signin-nav-bg-hover-ie.png") no-repeat 0 0; */
  *padding:4px 12px 6px;
}

#topnav a.signin, #topnav a.signin:hover {
  *background-position:0 3px!important;
}

a.signin {
  position:relative;
  margin-left:3px;
}

a.signin span {
  background-image:url("/assets/toggle_down_light.png");
  background-repeat:no-repeat;
  background-position:100% 50%;
  padding:4px 16px 6px 0;
}

#topnav a.menu-open {
  background:#F5F5F5!important;
  color:#666!important;
  outline:none;
}

#small_signup {
  display:inline;
  float:none;
  line-height:23px;
  margin:25px 0 0;
  width:170px;
}

a.signin.menu-open span {
  background-image:url("/assets/toggle_up_dark.png");
  color:#789;
}

#signin_menu {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  display:none;
  background-color:#F5F5F5;
  position:absolute;
  width:210px;
  z-index:100;
  border:1px transparent;
  text-align:left;
  padding:12px;
  top: 24.5px; 
  right: 0px; 
  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
  color:#789;
  font-size:11px;
  behavior: url(/assets/PIE.htc);
}

#signin_menu input[type=text], #signin_menu input[type=password] {
  display:block;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #ACE;
  font-size:13px;
  margin:0 0 5px;
  padding:5px;
  width:203px;
  behavior: url(/assets/PIE.htc);	
}

#signin_menu p {
  margin:0;
}

#signin_menu a {
  color:#6AC;
}
#signin_menu label {
  font-weight:normal;
}
#signin_menu p.remember {
  padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
  clear:both;
  margin:5px 0;
}
#signin_menu p a {
  color:#4682B4!important;
}
#signin_submit {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#4682B4;
  border:1px solid #39D;
  color:#fff;
  text-shadow:0 -1px 0 #39d;
  padding:4px 10px 5px;
  font-size:11px;
  margin:0 5px 0 0;
  font-weight:bold;
  behavior: url(/assets/PIE.htc);
}
#signin_submit::-moz-focus-inner {
  padding:0;
  border:0;
}

#signin_submit:hover, #signin_submit:focus {
  background-position:0 -5px;
  cursor:pointer;
}