/*
	Faceboook, Twitter and mail links
*/
body {
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  color: #666;
  margin: 0;
}

* { 
	margin:0; 
	padding:0;
}

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  padding-top:200px;
  top: 10px;
  right: 0px;
  list-style: none;
  z-index:9999;
}

ul#navigation li {
  width: 100px;
}

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;    
  background-color:#F5F5F5;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #ddd;

  -webkit-border-radius:11px;
  -moz-border-radius:11px;
  border-radius:11px;
  behavior: url(/assets/PIE.htc);
}

ul#navigation .home a{
  background-image: url(/assets/facebook.png);
}

ul#navigation .about a{
  background-image: url(/assets/twitter.png);
}

ul#navigation .search a{
  background-image: url(/assets/mail.png);
}

#header {
  background:#959DA5;
  border-bottom:1px solid #333;
}

/*
	Main styles
*/
.center {
  margin: 0px auto;
  width: 1000px;
}

.clear {
  clear:both;
}

.fleft { 
  float:left;
}

.fright { 
  float:right;
}

/*
	Main menu style
*/
#menu ul {
  height:30px;
  background:#959DA5;
  margin:0;
  padding:10px 16px 0;
  list-style:none;
}

#menu ul li {
  float:left;
  margin:0 20px 0 0;
  position:relative;
  padding:0;
}

#menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  padding:0 15px;
  line-height:29px;
  height:29px;
  font-weight:bold;
  background:#464646;
  border:1px solid #333;
  border-bottom:none;
  text-shadow:#000 0 -1px 0;
  position:relative;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing:antialiased;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius:8px 8px 0 0;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  behavior: url(/assets/PIE.htc);
}

#menu ul li:before, #menu ul li:after {
  content:'';
  width:9px;
  height:8px;
  position:absolute;
  z-index:2;
  bottom:0;
  background:#464646;
}

#menu ul li:before {
  left:-8px;
}

#menu ul li:after {
  right:-8px;
}

#menu ul a:before, #menu ul a:after {
  content:'';
  width:10px;
  height:8px;
  position:absolute;
  z-index:3;
  bottom:-1px;
  background:#959DA5;
  overflow:hidden;
  border-bottom:1px solid #333;
  -webkit-background-clip: padding-box;
}

#menu ul a:before {
  left:-11px;
  border-bottom-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottom-right:8px;
  border-right:1px solid #222;
  behavior: url(/assets/PIE.htc);
}

#menu ul a:after {
  right:-11px;
  border-bottom-left-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottom-left:8px;
  border-left:1px solid #222;
  behavior: url(/assets/PIE.htc);
}

#menu ul li.current a {
  background:#FFFFFF;
  color:#222;
  height:30px;
  text-shadow:#fff 0 1px 0;
  -webkit-background-clip: padding-box;
}

#menu ul li.current a:before, #menu ul li.current a:after {
  bottom:0;
}

#menu ul li.current:before, #menu ul li.current:after {
  background:#FFFFFF;
  bottom:0;
  -webkit-background-clip: padding-box;
}

#menu ul li a:hover {
  background:#FFFFFF;
  color:#222;
  height:30px;
  text-shadow:#fff 0 1px 0;
  -webkit-background-clip: padding-box;
}

#menu ul li a:hover:before, #menu ul li a:hover:after {
  bottom:0;
}

#menu ul li:hover:before, #menu ul li:hover:after {
  background:#FFFFFF;
  bottom:0;
  -webkit-background-clip: padding-box;
}

/*
  Search rom style
*/
#searchForm {
  background-color:#464646;
  padding:15px 15px 15px;
  margin:.5em 0em 0;
  position:relative;

  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
  behavior: url(/assets/PIE.htc);
	
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

#searchForm fieldset {
  border:none;
}

#s {
  border:none;
  color:#888888;

  float:left;
  font-family:Arial,Helvetica,sans-serif;
  background: white url('/assets/search.png') no-repeat;
  background-position:.5em center;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  width:465px;

  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  behavior: url(/assets/PIE.htc);
}

#submitButton {
  float:left;
  cursor:pointer;
  background-color:#F5F5F5;
  border:1px solid silver;
  padding:8px 16px 8px;
  text-align:center;
  margin:0 5px 0 0;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
  color:#000;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}


/* 
  Login dialog
*/
#container {
  width:950px;
  margin:0 auto;
  position: relative;
}

#topnav {
  padding:10px 0px 12px;
  font-size:11px;
  line-height:23px;
  text-align:right;
}

#topnav a.signin {
  background:#4682B4;
  padding:4px 6px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  /* *background:transparent url("/assets/signin-nav-bg-ie.png") no-repeat 0 0; */
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}

#topnav a.register {
  background:#4682B4;
  padding:4px 6px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}

#topnav a.register:hover {
  background:#59B;
  *padding:4px 12px 6px;
}

#topnav a.signin:hover {
  background:#59B;
  /* *background:transparent url("img/signin-nav-bg-hover-ie.png") no-repeat 0 0; */
  *padding:4px 12px 6px;
}

#topnav a.signin, #topnav a.signin:hover {
  *background-position:0 3px!important;
}

a.signin {
  position:relative;
  margin-left:3px;
}

a.signin span {
  background-image:url("/assets/toggle_down_light.png");
  background-repeat:no-repeat;
  background-position:100% 50%;
  padding:4px 16px 6px 0;
}

#topnav a.menu-open {
  background:#F5F5F5!important;
  color:#666!important;
  outline:none;
}

#small_signup {
  display:inline;
  float:none;
  line-height:23px;
  margin:25px 0 0;
  width:170px;
}

a.signin.menu-open span {
  background-image:url("/assets/toggle_up_dark.png");
  color:#789;
}

#signin_menu {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  display:none;
  background-color:#F5F5F5;
  position:absolute;
  width:210px;
  z-index:100;
  border:1px transparent;
  text-align:left;
  padding:12px;
  top: 24.5px; 
  right: 0px; 
  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
  color:#789;
  font-size:11px;
  behavior: url(/assets/PIE.htc);
}

#signin_menu input[type=text], #signin_menu input[type=email], #signin_menu input[type=password] {
  display:block;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #ACE;
  font-size:13px;
  margin:0 0 5px;
  padding:5px;
  width:203px;
  behavior: url(/assets/PIE.htc);	
}

#signin_menu p {
  margin:0;
}

#signin_menu a {
  color:#6AC;
}
#signin_menu label {
  font-weight:normal;
}
#signin_menu p.remember {
  padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
  clear:both;
  margin:5px 0;
}
#signin_menu p a {
  color:#4682B4!important;
}
#signin_menu input[type=submit] {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#4682B4;
  border:1px solid #39D;
  color:#fff;
  text-shadow:0 -1px 0 #39d;
  padding:4px 10px 5px;
  font-size:11px;
  margin:0 5px 0 0;
  font-weight:bold;
  behavior: url(/assets/PIE.htc);
}
#signin_menu input[type=submit]::-moz-focus-inner {
  padding:0;
  border:0;
}

#signin_menu input[type=submit]:hover, #signin_menu input[type=submit]:focus {
  background-position:0 -5px;
  cursor:pointer;
}

div.events {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background: #F5F5F5;
  border: 1px solid #ddd;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px 10px 0;
  position: relative;
  text-align: left;
  padding: 2em;
  margin-right:5em;
  margin-bottom:1em;
  margin-top:2em;
  behavior: url(javascript/PIE.htc);
}

#submit {
  background:#4682B4;
  cursor:pointer;
  padding:10px 22px 10px;
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  *padding:4px 12px 6px;
  behavior: url(/assets/PIE.htc);
}

#submit:hover {
  background:#59B;
  *padding:4px 12px 6px;
}

.hr_x {
  margin-top:1em;
  margin-bottom:1em;
  height:.1em;
  border-bottom-color: silver;
  border-bottom-style: dashed;
  border-bottom-width: .25em;
  width:95%;
}

.link {
  text-decoration:none;
  border-bottom:.1em dotted gray;
  color:gray;
}

.link:hover {
  color: #FF4500;
}

.news {
  margin-bottom:-5px;
}
.news li {
  width:100%;
  overflow:hidden;
  vertical-align:top;
  border-bottom:1px solid #f1f1f1;
  padding-bottom:28px;
  margin-bottom:10px;
}

.news li p {
  margin-bottom:0;
  text-align:justify;
}

.extra-wrap {
  overflow:hidden;
}

.date {
  position: relative;
  width:63px;
  height:63px; 
  font-family: Georgia, serif;
  color: #999;
  float:left;
  margin: 0 auto;
/* display:block;*/
}

.day, .month, .year {
  position: absolute;
}
 
.day {
  font-size: 30px;
  top: 15px;
}

.month {
  top: 0;
  left: 0;
  font-size: 18px;
}

.year { 
  top: 19px;
  right: 0;
  font-size: 20px;
  rotation: -90deg !important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
}

.footer {
  background-color:#252525;
  width:100%;
  padding-top:1em;
  padding-bottom:3em;
  margin-top:3em;
}

.footer .menu {
  margin: 0px auto;
  width:1000px;
  text-align:center;
}

.footer a {
  color:white;
  text-decoration:none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .menu b {
  padding-left:.5em;
  padding-right:.5em;
  color:silver;
}

.footer .copyright {
  padding-top:.1em;
  text-align:center;
}

h5 {
  font-size:1em;
  line-height:1.38em;
}
h5,
h5 a {
  color:#222226;
}

h5 a:hover {
  color: #FF4500;
}

@font-face{ 
  font-family: 'journal';
  src: url('fonts/BPdotsSquareLight.otf');
}

h4 {
  font-size:2em;
  line-height:1.1em;
  font-family:'journal', "Times New Roman", Times, serif;
  color:#565656;
  font-weight:normal;
  background-color: #FFFFFF;
}

#all_news {
  padding-top:.3em;
  padding-bottom:1em;
}

#news_block {
  width:300px;
  float:right;
  margin-top:2.3em;
}

#form-container{
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #ddd;

  background-color:#F5F5F5;
  padding:15px;

  -moz-border-radius:12px;
  -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius:12px;
  behavior: url(javascript/PIE.htc);
}

#form-container h1{
  color:#777777;
  font-size:22px;
  font-weight:normal;
  text-transform:uppercase;
  margin-bottom:5px;
}

#form-container h2{
  font-weight:normal;
  font-size:10px;

  text-transform:uppercase;

  color:#aaaaaa;
  margin-bottom:15px;

  border-bottom:1px solid #eeeeee;
  margin-bottom:15px;
  padding-bottom:10px;
}

#user_new {
  margin:1em 0;
}

#user_new .first{
  padding-bottom:3em;
}

#user_new .code{
  padding-top:3em;
}

#user_new h3{
  margin:0 20px;
  height:28px;
  text-indent:-8000px;
}

#user_new fieldset{
  margin:0;
  padding:0;
  border:none;
  padding-bottom:1em;
  font-family: sans-serif; font-size: 14px; color: gray;
}

#error_explanation {
	margin:0;
	padding:0;
	padding-bottom:2em;
	margin-left:1em;
}

#error_explanation h2 {
  margin:0 20px;
  height:28px;
  font-size:14px;
  color:red;
  border:none;
  padding:0;
}

#error_explanation ul {
  margin-left: 5em;
}

#user_new p{margin:.5em 30px;}
#user_new label{
  float: left; 
  clear: left; 
  margin: 5px 15px 0 0; 
  width: 200px;
  text-align: right; font-size: 14px; color: gray; 
  text-transform: uppercase; 
  text-shadow: 0px 1px 0px #f2f2f2;
}

#user_new input[type=text], #user_new input[type=password],#user_new input[type=email], #user_new textarea{
  width:302px;
  border:1px solid #dfdfdf;
  background:#fff;
  padding:5px 3px;
  margin-bottom:.3em;
  font-family: sans-serif; font-size: 16px; color: black;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  behavior: url(javascript/PIE.htc);
}

#user_new input[type=radio]{
  border:1px solid #dfdfdf;
  background:#fff;
  padding:5px 3px;
  margin-bottom:1em;
  margin-top:.4em;
  font-family: sans-serif; font-size: 16px; color: black;
}

#user_new textarea{
  height:125px;
  overflow:auto;
}

#user_new p.submit{
  padding-top:2em;
  text-align:center;
}

#user_new .signin_submit {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:#4682B4;
  border:1px solid #39D;
  color:#fff;
  text-shadow:0 -1px 0 #39d;
  padding:9px 30px 10px;
  font-size:16px;
  margin:0 5px 0 0;
  font-weight:bold;
  behavior: url(javascript/PIE.htc);
}

#user_new .signin_submit::-moz-focus-inner {
  padding:0;
  border:0;
}
#user_new .signin_submit:hover, .signin_submit:focus {
  background-position:0 -5px;
  cursor:pointer;
}

.field_with_errors {
	margin:.5em 30px;
	padding:0;
}

.field_with_errors input {
  border:1px solid red;
}

#flash {
  text-align:center;
  margin-top:1em;
  margin-bottom: 1em;
  background: #F5F5F5;
  color: black;
  font-size: 1.2em;  
  padding-top:.5em;
  padding-bottom:.5em;
  border: 1px solid #ddd;
}

ul.about_links {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
}

ul.about_links li {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background: #eee;
  border: 1px solid #ddd;
  color: #707070;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 3px 10px 0;
  position: relative;
  text-align: left;
  behavior: url(javascript/PIE.htc);
}

ul.about_links li em {
  color: #aaa;
  font-weight: normal;
  font-size: 0.9em;
}

ul.about_links a {
  font-style:normal;
}

.b-img-radius {
  zoom: 1;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline;
  behavior: url(javascript/PIE.htc);
  display: inline-block;
  vertical-align: top;
}

.b-img-radius img {
  display: block;
  visibility: hidden;
}

/* ============================================================================================================================
== TWITTER
** ============================================================================================================================ */

.example-twitter {
  position:relative;
  padding:15px;
  margin:30px 0 0.5em;
  color:#333;
  background:#eee;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  behavior: url(javascript/PIE.htc);	
}

.example-twitter:after {
  content:"";
  position:absolute;
  top:-30px;
  left:50px;
  border:15px solid transparent;
  border-bottom-color:#eee;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-twitter + p {padding-left:15px; font:14px Arial, sans-serif;}

div.nerd {
	-webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 3px solid #ddd;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 1px 1px 0;
    position: relative;
    text-align: left;
	padding: 1em;
	behavior: url(javascript/PIE.htc);
}

.iconlist
{
  list-style: none;
}

.iconlist li
{
  background-image: url(/assets/list-marker.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 25px;
  margin: .4em 0;
}

.iconlist a {
    text-decoration:none;
    font-weight:normal;
    color:gray;
}

.iconlist a:hover {
	color: #FF4500;
}


.project_stats {
  position: relative;
  width: 300px;
  font-family: Georgia, serif;
  color: #999;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-right:.5em;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  behavior: url(javascript/PIE.htc);
 }

.project_stats:hover {
	background-color:#F5F5F5;
}
 
.project_stats .number, .project_stats .name {
  position: absolute;
}

.project_stats .number {
  font-size: 28px;
  left:10px;
  width:45px;
  text-align:center;
  top: 0px;
}

.project_stats .name {
  top: 35px;
  left: 10px;  
  font-size: 16px;
}