// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lite-bg-color: #F5F5F5;

@mixin rounded-corners($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
  behavior: url(/assets/PIE.htc);
}

body {
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  color: #666;
  margin: 0;
}

* { 
  margin:0;
  padding:0;
}

ul#navigation {
  position: fixed;
  padding-top:200px;
  top: 10px;
  right: 0px;
  list-style: none;
  z-index:9999;

  li {
    width: 100px;

    a {
      display: block;
      margin-left: -2px;
      width: 100px;
      height: 70px;
      background-color: $lite-bg-color;
      background-repeat:no-repeat;
      background-position:center center;
      border:1px solid #ddd;

      @include rounded-corners(11px);
    }
  }
  
  .home a{
    background-image: url(/assets/facebook.png);
  }

  .about a{
    background-image: url(/assets/twitter.png);
  }

  .search a{
    background-image: url(/assets/mail.png);
  }
}

#header {
  background:#959DA5;
  border-bottom:1px solid #333;

  #logo {
    height:7em;
    background:url(/assets/logo.png) no-repeat left bottom;
  }
}

/*
	Main styles
*/
.center {
  margin: 0px auto;
  width: 1000px;
}

.clear {
  clear:both;
}

.fleft { 
  float:left;
}

.fright { 
  float:right;
}

.leftcol {
  float:left;
  width:700px;
  margin-bottom:1em;
}

.leftcolumn {
  float:left;
  width:700px;
  margin-bottom:1em;
  margin-top:2em;
}

#about_speech {
  width:650px;
  margin-right:1.5em;
  padding-bottom:1em;
}

#about_img {
  background: url(/assets/cat.jpg);
  margin-left:3em;
  
  img {
    width: 560px;
  }
}

#about_speech p{
  text-align:justify;
}

.main_col {
  width:300px;
  float:left;
  margin-right:1.5em;
  margin-top:3em;
  
  .icon {
    float:left;
    padding-right:.5em;
  }

  .hdr {
    padding-top:.3em;
    padding-left:.5em;

    h5 {
      color: gray;
    }
  }

  .text {
    text-align:justify;
    margin-bottom:1em;
  }
}

.right_column {
  width:300px;
  float:right;
  margin-top:2em;
}

#main_lg_hdr {
  font-size:22px;
}

#main_lg_text {
  color:#999;
  font-weight:normal;
  margin-top:.3em;
}

#main_lg_link {
  float:right;
  padding:.5em;
}

/*
	Main menu style
*/
#menu ul {
  height:30px;
  background:#959DA5;
  margin:0;
  padding:10px 16px 0;
  list-style:none;

  li {
    float:left;
    margin:0 20px 0 0;
    position:relative;

    &:before, &:after {
      content:'';
      width:9px;
      height:8px;
      position:absolute;
      z-index:2;
      bottom:0;
      background:#464646;
    }

    &:before {
      left:-8px;
    }

    &:after {
      right:-8px;
    }

    &.current a {
      background:#FFFFFF;
      color:#222;
      height:30px;
      text-shadow:#fff 0 1px 0;
      -webkit-background-clip: padding-box;

      &:before, &:after {
        bottom:0;
      }
    }

    &.current:before, &.current:after {
      background:#FFFFFF;
      bottom:0;
      -webkit-background-clip: padding-box;
    }

    a:hover {
      background:#FFFFFF;
      color:#222;
      height:30px;
      text-shadow:#fff 0 1px 0;
      -webkit-background-clip: padding-box;

      &:before, &:after {
        bottom:0;
      }
    }

    &:hover:before, &:hover:after {
      background:#FFFFFF;
      bottom:0;
      -webkit-background-clip: padding-box;
    }
  }

  a {
    display:block;
    color:#fff;
    text-decoration:none;
    padding:0 15px;
    line-height:29px;
    height:29px;
    font-weight:bold;
    background:#464646;
    border:1px solid #333;
    border-bottom:none;
    text-shadow:#000 0 -1px 0;
    position:relative;
    -webkit-background-clip: padding-box;
    -webkit-font-smoothing:antialiased;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius:8px 8px 0 0;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    behavior: url(/assets/PIE.htc);

    &:before, &:after {
      content:'';
      width:10px;
      height:8px;
      position:absolute;
      z-index:3;
      bottom:-1px;
      background:#959DA5;
      overflow:hidden;
      border-bottom:1px solid #333;
      -webkit-background-clip: padding-box;
    }
    
    &:before {
      left:-11px;
      border-bottom-right-radius:8px;
      -webkit-border-bottom-right-radius:8px;
      -moz-border-radius-bottom-right:8px;
      border-right:1px solid #222;
      behavior: url(/assets/PIE.htc);
    }

    &:after {
      right:-11px;
      border-bottom-left-radius:8px;
      -webkit-border-bottom-left-radius:8px;
      -moz-border-radius-bottom-left:8px;
      border-left:1px solid #222;
      behavior: url(/assets/PIE.htc);
    }
  }
}

/*
  Search rom style
*/
#searchForm {
  background-color:#464646;
  padding:15px 15px 15px;
  margin:.5em 0em 0;
  position:relative;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  @include rounded-corners(16px);

  fieldset {
    border:none;
  }
}

#s {
  border:none;
  color:#888888;

  float:left;
  font-family:Arial,Helvetica,sans-serif;
  background: white url('/assets/search.png') no-repeat;
  background-position:.5em center;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  width:465px;
  @include rounded-corners(4px);
}

#submitButton {
  float:left;
  cursor:pointer;
  background-color: $lite-bg-color;
  border:1px solid silver;
  padding:8px 16px 8px;
  text-align:center;
  margin:0 5px 0 0;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
  color:#000;
  *padding:4px 12px 6px;
  @include rounded-corners(4px);
}

/* 
  Login dialog
*/
#container {
  width:990px;
  margin:0 auto;
  position: relative;
}

#topnav {
  padding:5px 0px 0px;
  font-size:11px;
  line-height:23px;
  text-align:right;

  a.signin {
    background:#4682B4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    *padding:4px 12px 6px;
    *background-position:0 3px!important;
    @include rounded-corners(4px);

    &:hover {
      background:#59B;
      *padding:4px 12px 6px;
    }
  }

  a.register {
    background:#4682B4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    *padding:4px 12px 6px;
    @include rounded-corners(4px);

    &:hover {
      background:#59B;
      *padding:4px 12px 6px;
    }
  }
  
  a.menu-open {
    background: $lite-bg-color!important;
    color:#666!important;
    outline:none;
  }
}

a.signin {
  position:relative;
  margin-left:3px;

  span {
    background-image:url("/assets/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
  }

  &.menu-open span {
    background-image:url("/assets/toggle_up_dark.png");
    color:#789;
  }
}

#small_signup {
  display:inline;
  float:none;
  line-height:23px;
  margin:25px 0 0;
  width:170px;
}

#signin_menu {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  display:none;
  background-color:$lite-bg-color;
  position:absolute;
  width:210px;
  z-index:100;
  border:1px transparent;
  text-align:left;
  padding:12px;
  top: 24.5px;
  right: 0px;
  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
  color:#789;
  font-size:11px;
  behavior: url(/assets/PIE.htc);

  input[type=text], input[type=email], input[type=password] {
    display:block;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
    @include rounded-corners(4px);
  }

  p {
    margin:0;

    &.remember {
      padding:10px 0;
    }

    &.forgot, &.complete {
      clear:both;
      margin:5px 0;
    }

    a {
      color:#4682B4!important;
    }
  }

  a {
    color:#6AC;
  }

  label {
    font-weight:normal;
  }

  input[type=submit] {
    background:#4682B4;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
    @include rounded-corners(4px);
  }

  input[type=submit]::-moz-focus-inner {
    border:0;
  }

  input[type=submit]:hover, input[type=submit]:focus {
    background-position:0 -5px;
    cursor:pointer;
  }
}

div.events {
  background: $lite-bg-color;
  border: 1px solid #ddd;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  text-align: left;
  padding: 2em;
  margin-right:5em;
  margin-bottom:1em;
  margin-top:2em;
  @include rounded-corners(11px);
}

div.users {
  float:right;
  background: $lite-bg-color;
  border: 3px solid #ddd;
  color: black;
  font-size: 1em;
  padding: 1em;
  width:300px;
  height:38px;
  margin-top:.5em;
  @include rounded-corners(8px);

  a {
    text-decoration: none;
    
    &:hover {
      color: #FF4500;
    }
  }
}

div.main_header {
  background: $lite-bg-color;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  text-align: left;
  padding: .3em;
  margin-right:5em;
  margin-bottom:1em;
  width:100%;
  @include rounded-corners(5px);
}

div.blog_entry_info {
  background: $lite-bg-color;
  border: 1px solid #ddd;
  color: gray;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  text-align: left;
  padding: .3em;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom:1em;
  margin-top:1em;
  @include rounded-corners(4px);
}

#submit {
  background:#4682B4;
  cursor:pointer;
  padding:10px 22px 10px;
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  color:#fff;
  *padding:4px 12px 6px;
  @include rounded-corners(4px);

  &:hover {
    background:#59B;
    *padding:4px 12px 6px;
  }
}

.hr_x {
  margin-top:1em;
  margin-bottom:1em;
  height:.1em;
  border-bottom-color: silver;
  border-bottom-style: dashed;
  border-bottom-width: .25em;
  width:95%;
}

.link {
  text-decoration:none;
  border-bottom:.1em dotted gray;
  color:gray;

  &:hover {
    color: #FF4500;
  }
}

.blog_title a {
  font-weight:bold;
  color:#4682B4;
  text-decoration:none;
  font-size:1.6em;
  text-shadow: 0px 1px 0px #e5e5ee;

  &:hover {
    color: #FF4500;
  }
}

.news {
  margin-bottom:-5px;

  li {
    width:100%;
    overflow:hidden;
    vertical-align:top;
    border-bottom:1px solid #f1f1f1;
    padding-bottom:28px;
    margin-bottom:10px;

    p {
      margin-bottom:0;
      text-align:justify;
    }
  }
}

.extra-wrap {
  overflow:hidden;

  p {
    margin-top:.3em;
  }

  a {
    font-weight:bold;
    color:#4682B4;
    text-decoration:none;
    text-shadow: 0px 1px 0px #e5e5ee;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.date {
  position: relative;
  width:63px;
  height:63px;
  font-family: Georgia, serif;
  color: #999;
  float:left;
  margin: 0 auto;
  display:block;
}

.day, .month, .year {
  position: absolute;
}
 
.day {
  font-size: 30px;
  top: 20px;
  left:2px;
}

.month {
  top: 0;
  left: 0;
  font-size: 18px;
}

.year { 
  top: 15px;
  right: 0;
  font-size: 20px;
  rotation: -90deg !important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.footer {
  background-color:#252525;
  width:100%;
  padding-top:1em;
  padding-bottom:3em;
  margin-top:3em;

  .menu {
    margin: 0px auto;
    width:1000px;
    text-align:center;

    b {
      padding-left:.5em;
      padding-right:.5em;
      color:silver;
    }
  }

  a {
    color:white;
    text-decoration:none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    padding-top:.1em;
    text-align:center;
  }
}

h5 {
  font-size:1.1em;
  line-height:1.38em;
  color:#222226;

  a {
    color:#222226;

    &:hover {
      color: #FF4500;
    }
  }
}

@font-face{ 
  font-family: 'journal';
  src: url('fonts/BPdotsSquareLight.otf');
}

h4 {
  font-size:2em;
  line-height:1.1em;
  font-family:'journal', "Times New Roman", Times, serif;
  color:#565656;
  font-weight:normal;
  background-color: #FFFFFF;
}

#all_news {
  padding-top:.3em;
  padding-bottom:1em;
}

#news_block {
  width:300px;
  float:right;
  margin-top:2.3em;
}

#form-container{
  border: 1px solid #ddd;

  background-color:$lite-bg-color;
  padding:15px;

  @include rounded-corners(12px);

  h1{
    color:#777777;
    font-size:22px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:5px;
  }

  h2{
    font-weight:normal;
    font-size:10px;

    text-transform:uppercase;

    color:#aaaaaa;
    margin-bottom:15px;

    border-bottom:1px solid #eeeeee;
    margin-bottom:15px;
    padding-bottom:10px;
  }
}

#user_new {
  margin:1em 0;

  .first{
    padding-bottom:3em;
  }

  .code{
    padding-top:3em;
  }

  h3{
    margin:0 20px;
    height:28px;
    text-indent:-8000px;
  }

  fieldset{
    border:none;
    padding-bottom:1em;
    font-family: sans-serif; font-size: 14px; color: gray;
  }

  p{
    margin:.5em 30px;

    &.submit{
      padding-top:2em;
      margin-left:25em;
    }
  }

  label{
    float: left;
    clear: left;
    margin: 5px 15px 0 0;
    width: 200px;
    text-align: right; font-size: 14px; color: gray;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #f2f2f2;
  }

  input[type=text], input[type=password], input[type=email], textarea{
    width:302px;
    border:1px solid #dfdfdf;
    background:#fff;
    padding:5px 3px;
    margin-bottom:.3em;
    font-family: sans-serif; font-size: 16px; color: black;
    @include rounded-corners(5px);
  }

  input[type=radio]{
    border:1px solid #dfdfdf;
    background:#fff;
    padding:5px 3px;
    margin-bottom:1em;
    margin-top:.4em;
    font-family: sans-serif; font-size: 16px; color: black;
  }

  textarea{
    height:125px;
    overflow:auto;
  }

  .signin_submit {
    background:#4682B4;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:9px 30px 10px;
    font-size:16px;
    margin:0 5px 0 0;
    font-weight:bold;
    @include rounded-corners(4px);

    &::-moz-focus-inner {
      border:0;
    }

    &:hover, &:focus {
      background-position:0 -5px;
      cursor:pointer;
    }
  }
}

#error_explanation {
  padding-bottom:2em;
  margin-left:1em;

  h2 {
    margin:0 20px;
    height:28px;
    font-size:14px;
    color:red;
    border:none;
  }

  ul {
    margin-left: 5em;
  }
}

.field_with_errors {
  margin:.5em 30px;

  input {
    border:1px solid red;
  }
}

#flash {
  margin-bottom: 1em;
  background: $lite-bg-color;
  color: black;
  font-size: 1.2em;
  padding-top:.5em;
  padding-bottom:.5em;
  border: 1px solid #ddd;
  text-align: center;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border:1px solid white;
}

ul.about_links {
  list-style-type: none;
  margin-top:1em;
  padding: 0 0 20px 0;

  li {
    background: $lite-bg-color;
    border: 1px solid #ddd;
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 3px 10px 0;
    position: relative;
    text-align: left;
    @include rounded-corners(11px);

    em {
      color: #aaa;
      font-weight: normal;
      font-size: 0.9em;
    }
  }

  a {
    font-style:normal;
  }
}

.b-img-radius {
  zoom: 1;
  position: relative;
  display: inline;
  display: inline-block;
  vertical-align: top;
  @include rounded-corners(10px);

  img {
    display: block;
    visibility: hidden;
  }
}

/* ============================================================================================================================
== TWITTER
** ============================================================================================================================ */

.example-twitter {
  position:relative;
  padding:15px;
  margin:30px 0 0.5em;
  color:#333;
  background:#eee;
  /* css3 */
  @include rounded-corners(10px);
}

.example-twitter:after {
  content:"";
  position:absolute;
  top:-30px;
  left:50px;
  border:15px solid transparent;
  border-bottom-color:#eee;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-twitter + p {padding-left:15px; font:14px Arial, sans-serif;}

div.nerd {
  border: 3px solid #ddd;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 1px 1px 0;
  position: relative;
  text-align: left;
  padding: 1em;
  margin-top:1em;
  margin-right:2em;
  @include rounded-corners(11px);
}

.iconlist
{
  list-style: none;

  li
  {
    background-image: url(/assets/list-marker.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 25px;
    margin: .4em 0;
  }

  a {
    text-decoration:none;
    font-weight:normal;
    color:gray;

    &:hover {
      color: #FF4500;
    }
  }
}

.project_stats {
  position: relative;
  width: 300px;
  font-family: Georgia, serif;
  color: #999;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-right:.5em;
  @include rounded-corners(10px);

  &:hover {
    background-color:$lite-bg-color;
  }

  .number, .name {
    position: absolute;
  }

  .number {
    font-size: 28px;
    left:10px;
    width:45px;
    text-align:center;
    top: 0px;
  }

  .name {
    top: 35px;
    left: 10px;
    font-size: 16px;
  }
}

.tags {
  background:$lite-bg-color;
  border:1px solid $lite-bg-color;
  color:gray;
  padding:4px 10px 5px;
  font-size:11px;
  margin:0 5px 0 0;
  font-weight:bold;
  @include rounded-corners(4px);
}

.tags_black {
    font-style: normal;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    border:1px solid #eee;
    color: black;
    @include rounded-corners(1em);
}



.pagination {
  background: $lite-bg-color;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: .5em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border:1px solid #eee;
    color: #FF4500;
    @include rounded-corners(1em);
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}









#wrapper {
  border: 1px solid #eee;
  height:800px;
  background: #F5F5F5;
}

#main_content {
  width:998px;
  height:480px;
  background: white;
  margin-top:11.8em;
}

#project_tabs {
 margin-top:1em;
 height:20px;
}












/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb
{
  float: left;
  display: block;
  height: 21px;
  overflow: hidden;
  width: 988px;
  padding:5px;
  border-top:solid 1px #dedede;
  border-bottom:solid 1px #dedede;
  background:#fff;
}
.breadCrumb ul
{
	height: 21px;
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(/assets/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	margin-top: 2px;
	overflow: hidden;
	background:url(/assets/IconHome.gif) no-repeat;
	background-position:left top;
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}
.chevronOverlay
{
	display: none;
	background: url(/assets/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}


.breadCrumb1
{
	height: 21px;
	width: 998px;
	padding-bottom:10px;
	border-top:solid 1px #dedede;
	border-bottom:solid 1px #dedede;
	background:#fff;
}



.menuUL li{
  display:inline;
}

.m {
	padding:5px;
}

.m li {
	display:inline;
}

.menuUL li a,.menuUL li a:visited{
	/* Styling the hyperlinks of the menu as buttons */
	
	float:left;
	font-weight:bold;
	background-color:#F9F9F9;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	border:1px solid #4D4D4D;
	color:white;
	border-top-color:#565656;
	text-decoration:none;
	
	padding:4px 6px;
	margin:4px 5px;
	height:16px;
	
	
	/* Setting a CSS3 box shadow around the button */
	
	-moz-box-shadow:0 0 1px black;
	-webkit-box-shadow:0 0 1px black;
	box-shadow:0 0 1px black;
	
	/* CSS3 text shadow */
	text-shadow:0 2px 0 white;
	color:gray;
}

.menuUL li a:hover{
	/* On hover show the top, lighter, part of the background: */
	background-position:center top;
}

.menuUL a{
	/* CSS3 rounded corners for both the navigation bar and the buttons: */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}






table{
    border-collapse:collapse;
    width:100%;
    margin:0px auto;
    line-height:18px;
    border:1px solid #ddd;
    font-weight:bold;
    color:#444;
    font-size:13px;
    font-family:Helvetica,Arial,Verdana;
    font-style:normal;
    float:left;
}
table thead tr,
table tfoot tr{
    height:20px;
    background-color:#ddd;
}


table td{
    padding:7px;
    border-bottom:1px solid #ddd;
    background-color:#f9f9f9;
    cursor:pointer;
}
table td input{
    margin-left:20px;
}
table td.check{
    width:40px;
    cursor:default;
}
table tbody tr:hover td{
    background-color:#F0F0F0;
}
table tbody tr.selected td{
    background-color:#FFFFEF;
}
table tbody tr.selected:hover td{
    background-color:#FFFFEF;
}
.actionsBox{
    font-size:13px;
    font-family:Helvetica,Arial,Verdana;
    font-style:normal;
    left:50%;
    position:absolute;
    top:-50px;
    opacity:0;
    cursor:move;
}
.actionsBox .menu{
    width:240px;
    color:#47708F;
    line-height:30px;
    text-shadow:1px 1px 0px #fff;
    padding:7px; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-weight:bold;
    border:1px solid #D9EAF2;
    background:#e8f4fa;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(217,234,242)),
        color-stop(0.93, rgb(232,244,250))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(217,234,242) 58%,
        rgb(232,244,250) 93%
        );
    -moz-box-shadow:1px 1px 3px #999;
    -webkit-box-shadow:1px 1px 3px #999;
    box-shadow:1px 1px 3px #999;	

}
.actionsBox .menu .button{
    padding:4px 7px;
    border:1px solid #D9EAF2;
    background:#e8f4fa;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.38, rgb(230,243,249)),
        color-stop(0.88, rgb(245,249,250))
        )
        ;
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(230,243,249) 38%,
        rgb(245,249,250) 88%
        )
        ;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 1px 0px #f9f9f9;
    -webkit-box-shadow:0px 1px 0px #f9f9f9;
    box-shadow:0px 1px 0px #f9f9f9;
    cursor:pointer;
}
.actionsBox .menu .button:hover{
    background:#fff;
}
.actionsBox .menu span{
    padding:0px 10px;
}
.actionsBox .submenu{
    display:none;
    width:120px;
    margin-left:100px;
    top:46px;
    right:10px;
    background:#fff;
    border:1px solid #D9EAF2;
    border-top:none;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow:0px 1px 4px #ddd;
    -webkit-box-shadow:0px 1px 4px #ddd;
    box-shadow:0px 1px 4px #ddd;
}
.actionsBox .submenu a{
    display:block;
    cursor:pointer;
    padding:10px 15px;
    border-top:1px solid #D9EAF2;
}
.actionsBox .submenu a.last{
    -moz-border-radius:0px 0px 10px 10px;
}
.actionsBox .submenu a.first{
    border-top:none;
}
.actionsBox .submenu a:hover{
    background-color:#f9f9f9;
}
.actionsBox .menu a.open,
.actionsBox .menu a.closed{
    border:1px solid #D9EAF2;
    padding:4px 17px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 1px 0px #f9f9f9;
    -webkit-box-shadow:0px 1px 0px #f9f9f9;
    box-shadow:0px 1px 0px #f9f9f9;
    cursor:pointer;
    opacity:0.6;
    margin-right:5px;
}
.actionsBox .menu a.open{
    background:#fff url(../open.png) no-repeat center center;

}
.actionsBox .menu a.closed{
    background:#fff url(../closed.png) no-repeat center center;
}
.actionsBox .menu a.open:hover,
.actionsBox .menu a.closed:hover{
    opacity:1.0;
}







.eventList li{
  background:#f9f9f9;
  border:1px solid #ddd;
  list-style:none;
  margin:5px;
  padding:4px 7px;
  font-size: 12px;

  /* CSS3 rounded corners */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}

.eventList li:hover{
  cursor:pointer;
  color: #fff;
  background: #4682B4; /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
  border:1px solid #D4E6EE;

  a {
    color: #FF4500;
	text-shadow: 1px 1px #1f272b;
  }
}

.button {
  outline: 0;
  padding: 5px 12px;
  display: block;
  color: #9fa8b0;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  font-size: 16px normal;
  border: 1px solid white;
  background:#4682B4;
  padding:4px 6px 6px;
  text-decoration:none;
  color:#fff;
  *padding:4px 12px 6px;
  *background-position:0 3px!important;
  @include rounded-corners(4px);
}
.button:hover {
  color: #fff;
  background: #4682B4; /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fff;
  padding: 6px 12px 4px;
  background: #20282D; /* old browsers */
  -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

.vertical-list {
  list-style: none;
  padding: 10px;
  width: 220px;
  font-size: 13px;
}

ol {  
  li {
    list-style: none;
    padding: 5px 6px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;

    &:hover {
      background: #f9f9f9;
      text-decoration:underline;
    }

    a {
      font: 12px/20px Arial, Sans-Serif;
      color: #47708F;
      font-weight:bold;
      text-decoration:none;
      margin-left:1em;
      margin-bottom:4em;
      padding: 5px 0 4px 34px;
      background: url('/assets/gtk-file.png') no-repeat 0 0;
    }

    a.folder {
      background: url('/assets/gnome-fs-directory.png') no-repeat 0 0;
    }
  }
}




#navlist
{
  border-bottom: 1px solid #ccc;
  margin-top:1em;
  padding-bottom: 19px;
  padding-left: 10px;
}

#navlist ul, #navlist li
{
  display: inline;
  list-style-type: none;
}

#navlist a:link, #navlist a:visited
{
  background: #F5F5F5;
  border: 1px solid #ccc;
  color: #666;
  float: left;
  font-size: small;
  font-weight: normal;
  line-height: 14px;
  margin-right: 8px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
}

#navlist a:link#current, #navlist a:visited#current
{
  background: #ddd;
  border-bottom: 1px solid #ddd;
  color: #000;
}

#navlist a:hover { color: #f00; }

#navlist ul a:hover { color: #f00 !important; }


#blogs a.more,#blogs a.more:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#4682B4;
}








#feedWidget{
	float:right;
	width:130px;
	position:relative;
	
	/* Remains hidden if JS is not enabled: */
	display:none;
	z-index:20;
}


#activeTab.hover,.dropDownList{
	background:url(/assets/toggle_down_light.png) no-repeat 95% 50% #464646;
	border:1px solid white;

	margin:-1px;
	
	cursor:pointer;
	color:white;
	
	/* CSS3 round corners: */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#activeTab{
	color:#777777;
	cursor:pointer;
	margin:0 2px 0 0;
	padding:5px;
	
	font:12px Sans-serif;
	font-weight:bold;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:white;
	border:1px solid #eee;
}

.dropDownList div {
	font:14px/normal Sans-serif;
	margin:1px;
	padding:3px;
	padding-left:5px;
	
	font:12px Sans-serif;
	font-weight:bold;
}

.dropDownList{
	background-image:none;
	position:absolute;

	border-top:none;
	padding:5px;
	
	/* We reset the roundness of the top corners, inherited by a previous rule: */
	
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dropDownList div:hover{
	background:white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:black;
}






#hor-minimalist-b
{
	border: 4px solid #F5F5F5;
	font-size: 12px;
	background: #fff;
	margin-top: 15px;
	border-collapse: collapse;
	text-align: left;
}

#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: bold;
	color: #464646;
	padding: 8px 8px;
	border-bottom: 3px solid #eee;
	background: #F5F5F5;
	
	input{
	    margin-left:10px;
	}
}

#hor-minimalist-b td
{
	border-bottom: 1px solid #eee;
	color: #464646;
	padding: 6px 8px;
	background: white;
	font-weight:bold;
	
	input{
	    margin-left:17px;
	}
}


.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p, .box7 p, .box9 p, .box10 p, .box11 p, .box12 p, .box13 p, .box14 p, .box15 p, .box16 p{
  margin: 30px;
  color: #aaa;
  outline: none;
}

.box11{
  margin: 50px;
  width: 300px;
  min-height: 150px;
  padding: 0 0 1px 0;
  position:relative;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
  border-top: 1px solid white;
  border-right: 1px solid #ccc;
  -webkit-border-bottom-right-radius: 60px 60px;
  -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  
}
.box11:before{
  content:''; 
  width: 25px;
  height: 20px;
  background: white;
  position: absolute;
  bottom:0; right:0;
  background: -webkit-gradient(linear, 0% 20%, 50% 40%, from(#fff), to( #eee), color-stop(.1,#fff));
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-20deg)
            skew(-40deg,-3deg)
            translate(-13px,-13px);
            transform: rotate(-20deg)
            skew(-40deg,-3deg)
            translate(-13px,-13px);
}

.box11:after{
  content: '';
  z-index: -1;
  width: 100px;
  height: 100px;
  position:absolute;
  bottom:0;
  right:0;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(0deg)
            translate(-45px,-20px)
              skew(20deg);
}


.box11_ribbon{
  position:absolute;
  top:-25px; left: 30%;
  width: 130px;
  height: 40px;
  background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.box14{
  margin: 50px;
  width: 300px;
  padding: 5px 0 ;
  position:relative;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
  border: 1px solid #ccc;
  -webkit-border-radius: 60px 5px;
  -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1) inset;
}

.box14:before{
  content: '';
  width: 50px;
  height: 50px;
  top:0; right:0;
  position:absolute;
  display: inline-block;
  z-index:-1;
  -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg)
            translate(-14px,20px)
              skew(-20deg);
}

.box14:after{
  content: '';
  width: 100px;
  height: 100px;
  top:0; left:0;
  position:absolute;
  z-index:-1;
  display: inline-block;
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg)
            translate(20px,25px)
              skew(20deg);
}

.box14_ribbon{
  position:absolute;
  top:0; right: 0;
  width: 130px;
  height: 40px;
  background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(6deg) skew(0,0) translate(-60%,-5px);
}