<div class="footer">
  <div class="menu">
    <a href="#">Contact</a><b>|</b><a href="#">Term Of Service</a><b>|</b><a href="#">Privacy</a>
  </div>
  <div class="copyright">Copyright 2011 by Nerdbase. All rights reserved.</div>
</div>