<div class="center" id="menu">
  <ul>
    <li class="current"><a href="index_new.html">Home</a></li>
    <li><a href="people_new.html">Nerds</a></li>
    <li><a href="projects_new.html">Ideas</a></li>
    <li><a href="blog_new.html">Blogs</a></li>
    <li><a href="about_new.html">About</a></li>
  </ul>
</div>