<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"> 
<html>
<head>
  <title>Nerdbase</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul id="navigation">
        <li class="home"><a href="#" title="Home"></a></li>
        <li class="about"><a href="#" title="About"></a></li>
        <li class="search"><a href="#" title="Search"></a></li>
    </ul>

	<div id="header">
		<div class="center">
			<img src="/assets/nerdbase.png">
			<img src="/assets/nerdbase3_new.png" style="padding-bottom:1em;">
		</div>
		<div class="center" id="menu">
			<ul>
				<li class="current"><a href="index_new.html">Home</a></li>
		  		<li><a href="people_new.html">Nerds</a></li>
		    	<li><a href="projects_new.html">Ideas</a></li>
		    	<li><a href="blog_new.html">Blogs</a></li>
		    	<li><a href="about_new.html">About</a></li>
			</ul>
		</div>
	</div>
	
	<div class="center">
		<div style="width:650px;float:left;">
			<form id="searchForm" method="post">
				<fieldset>
					<input id="s" type="text" />
					<a href="login" id="submitButton" class="signin"><span>Sign in</span></a>
				</fieldset>
			</form>
		</div>
		<div id="container">
			<div id="topnav" class="topnav"><a href="login" class="signin"><span>Sign in</span></a></div>
			<fieldset id="signin_menu">
				<form method="post" id="signin" action="#">
					<p>
						<label for="username">User E-mail</label>
						<input id="username" name="username" value="" title="username" tabindex="4" type="text">
					</p>
					<p>
						<label for="password">Password</label>
						<input id="password" name="password" value="" title="password" tabindex="5" type="password">
					</p>
					<p class="remember">
						<input id="signin_submit" value="Sign in" tabindex="6" type="submit">
						<input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
						<label for="remember">Remember me</label>
					</p>
					<p class="forgot"><a href="#" id="resend_password_link">Forgot your password?</a></p>
				</form>
			</fieldset>
		</div>
	</div>
	<div class="clear"></div>

<%= yield %>

</body>
</html>
